
%p
  %strong
    Author:
  %p
    =link_to User.find_by(id: @comment.user_id).username, User.find_by(id: @comment.user_id)
%p
  %strong
    Comment Created:
  %p
    =@comment.created_at
%p
  %strong
    Parent:
  %p
    = @comment.post.title

= link_to "Home", home_path