<% provide(:title, 'Sign up') %>

<h1>Sign up</h1>

<%= render 'form' %>

<h2>List of current users:</h2>

<ol>
  
  <% User.all.each do |user| %>
    <li>
      <%= link_to "#{user.username}", user %>
    </li>
  <% end %> 

</ol>

<h3>
  Number of current users: 
  <%= User.all.count %>
</h3>

