// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

#homepage_welcome{
  text-align: center;
  
}
body{
  background-image: url("http://images2.layoutsparks.com/1/250826/trees-woods-forest-tall.jpg");

}
.header_link{
  text-align: center;
  
}
.post_list_item_header{

  background : #4D94DB; 
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 1px;
  
  
}
.clear_fix{
  clear:both;
}


.post_list_item_header{
  
  margin: auto;
  margin-left: 200px;
  margin-right:200px ; 
}
.post_list_item_header div{
  

}

#time{
}

#subject{
  display:inline;
  float: left;
}
.post_list_item_header p {
  
  margin: 0;
  margin-left: 5px;
}

.post_list_item_body{
  background : lightblue;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 200px;
  margin-right:200px;

  
}

.post_list_item_body_info{
  margin:0;
  margin-left:5px;
}



.links{
  float:right;
  margin-right: 7px;
}

.heading{
  margin:0;
  margin-left:5px;
  font-family: Arial  ;
}

a:link {
  color: #022636;
  text-decoration: none;
}
a:visited{
  color: #022636;
  text-decoration: none;
}
a:hover{
  color: #022636;
  text-decoration:underline;
}
a:active{
  color: #022636;
  text-decoration:underline;
}
